@font-face {
    font-family: 'luckiest guy';
    src: url("./../assets/5.Font/LuckiestGuy-Regular.ttf") format('truetype');
    
}

body{
    
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('./../assets/3.Background/Legacy/Dark/2.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;}

canvas{
    background-color: black;
    display: block;
    margin : 0;
    padding: 0;
}

h1{
    font-family: 'luckiest guy';
    color: white;
    font-size: 64px;
}

img{
    scale: 0.5;
}

span{
    color: white;
    font-family: 'luckiest guy';

}

table{
    text-align: center ;
}
.d-none{
    display: none;
}
.impressum{
    color: white;
    font-family: 'luckiest guy';
}
.orga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.pointer{
    cursor: pointer;
}
.cleanLink{
    text-decoration: none;
    color: white;
}
h1,h2,h3{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.centerText{
    text-align: center;
}
.back{
    font-size: 30mm;
    font-family: 'luckiest guy';
}